<section>
  <h3>Service</h3>
  <div class="row">
    <div class="box">
      <h4>Frontend</h4>
      <p>
        I'm able to work with the main front-end technology like HTML, CSS,
        Javascript. Understand how to build a responsive website, and how to
        build a SPA using angular
      </p>
    </div>
    <div class="box">
      <h4>Backend</h4>
      <p>
        I can create server side scripts such as NodeJS, Typescript, Express.Js,
        Mongoose, JWT, MongoDB
      </p>
    </div>
    <div class="box">
      <h4>Fullstack</h4>
      <p>I can also work in both roles as backend and frontend developer</p>
    </div>
  </div>
</section>
