section {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section h3 {
  text-align: center;
  font-size: 36px;
}

section div.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
}

section div.row div.box {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  max-height: 210px;
  margin: 15px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
}

section div.row div.box:hover {
  background-position: left bottom;
  box-shadow: 1px 1px 18px #6b6b6b98;
  transition: all 0.2s !important;
}

section div.row div.box h4 {
  border-bottom: 1px solid black;
}

/*  Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */
