<section>
  <h3>Service</h3>
  <div class="row">
    <div class="box">
      <h4>Frontend</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        ipsam in et possimus fugiat?
      </p>
    </div>
    <div class="box">
      <h4>Backend</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        ipsam in et possimus fugiat?
      </p>
    </div>
    <div class="box">
      <h4>Fullstack</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        ipsam in et possimus fugiat?
      </p>
    </div>
  </div>
</section>
