section {
  margin-bottom: 30px;
  background-color: #161623;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section h3 {
  text-align: center;
  color: white;
  font-size: 36px;
}

section div.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
}

section div.row div.box {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 390px;
  border: 1px solid black;
  margin: 15px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top, #161623 50%, white 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}

section div.row div.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px #161623;
}

section div.row div.box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 30px;
}

section div.row div.box a {
  margin-top: 10px;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: black !important;
}

section div.row div.box a:hover {
  color: black !important;
  background-color: white !important;
}

/*  Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section h3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section div.row div.box {
    width: 270px;
    height: 370px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */
