<section>
  <h3>Project</h3>
  <div class="row">
    <div class="box">
      <img src="../../../assets/ecommerce.png" alt="image" />
      <h5>E-commerce</h5>
      <p>MEAN Stack</p>
      <a href="https://gadget-store-fe.herokuapp.com/" class="btn btn-dark"
        >View
      </a>
    </div>
    <div class="box">
      <img src="../../../assets/mydigilearn.gif" alt="image" />
      <h5>E-learning platform</h5>
      <p>NodeJs & VueJs Stack</p>
      <a href="https://www.mydigilearn.id/" class="btn btn-dark">View </a>
    </div>
    <div class="box">
      <img src="../../../assets/NEXT.png" alt="image" />
      <h5>New Project</h5>
      <p>MEAN Stack</p>
      <a href="#" class="btn btn-dark">View </a>
    </div>
  </div>
</section>
