<section>
  <h3>Project</h3>
  <div class="row">
    <div class="box">
      <img src="../../../assets/ecommerce.png" alt="image" />
      <h2>E-commerce</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        ipsam in et possimus fugiat?
      </p>
      <a href="https://gadget-store-fe.herokuapp.com/" class="btn btn-dark"
        >View
      </a>
    </div>
    <div class="box">
      <img src="../../../assets/pos-1.png" alt="image" />
      <h2>Point Of Sales</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        ipsam in et possimus fugiat?
      </p>
      <a href="#" class="btn btn-dark">View </a>
    </div>
    <div class="box">
      <img src="../../../assets/NEXT.png" alt="image" />
      <h2>New Project</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        ipsam in et possimus fugiat?
      </p>
      <a href="#" class="btn btn-dark">View </a>
    </div>
  </div>
</section>
