<div class="container banner">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row wrapper">
        <div class="col">
          <a href="https://www.facebook.com/diki.a.mustaqim"
            ><i class="fab fa-facebook-f" style="color: black"></i
          ></a>
          <a href="#"><i class="fab fa-twitter" style="color: black"></i></a>
          <a href="https://github.com/dikiamust"
            ><i class="fab fa-github" style="color: black"></i
          ></a>
          <a href="#"
            ><i class="fab fa-linkedin-in" style="color: black"></i
          ></a>
        </div>
        <!-- <div class="social">
          <ul>
            <li>
              <a href=""><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </div> -->
        <img
          src="../../../assets/foto-1.png"
          alt="image"
          style="border-radius: 50%; max-width: 270px"
        />
      </div>
    </div>

    <div class="col-12 col-md-6">
      <small>NICE TO MEET YOU</small>
      <h2>Hi, I'm <span>Diki</span></h2>
      <h1>Fullstack Developer</h1>
      <button class="btn btn-sm btn-primary rounded-pill" type="button">
        Hire Me
      </button>
    </div>

    <div class="col-12">
      <h3>About me</h3>
      <p>
        Passionate about engineering field, especially in programming. So I am
        really excited to start my career as web developer.
      </p>
    </div>
  </div>
</div>
