<div class="container banner">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row wrapper">
        <div class="social">
          <ul>
            <li>
              <a href="https://github.com/dikiamust"
              ><i class="fab fa-github" style="color: black"></i
            ></a>
            </li>
            <li>
              <a href="#"
              ><i class="fab fa-linkedin-in" style="color: black"></i
            ></a>
            </li>
            <li>
              <a href="https://www.facebook.com/diki.a.mustaqim"
                ><i class="fab fa-facebook-f" style="color: black"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter" style="color: black"></i></a>
            </li>
          </ul>
        </div>
        <img
          src="../../../assets/foto-1.png"
          alt="image"  
        />
      </div>
    </div>

    <div class="col-12 col-md-6">
      <small>NICE TO MEET YOU</small>
      <h2>Hi, I'm <span>Diki</span></h2>
      <h1>Fullstack Developer</h1>
      <button class="btn btn-sm btn-primary rounded-pill" type="button">
        Hire Me
      </button>
    </div>

    <div class="col-12">
      <h3>About me</h3>
      <p>
        Previously, I worked in mechanical engineering for almost 10 years.
         In that field it is closely linked to programming, which I am very passionate about.
          In addition, I am also interested in web development, 
          which is closely related to programming, then I took some bootcamps and courses, 
          and now I am ready for a career in web development as a Full-stack web developer.
      </p>
    </div>
  </div>
</div>
