@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

div.container.banner {
  background-color: yellow;
}

div.container.banner h1 {
  margin-top: 100px;
}

div.container.banner small {
  margin-top: 100px;
  color: aqua;
}

div.container.banner h1 span {
  color: grey;
  /* border-bottom: 2px solid grey;
  padding-bottom: 6px; */
}

div.container.banner h1 span:hover {
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}
