<div class="container banner">
  <div class="row">
    <div class="col-12 col-md-6 text">
      <small>NICE TO MEET YOU</small>
      <h1>Hey, I'm a <br /><span>Fullstack Developer</span></h1>
      <p>Hi, I'm Diki a freelance web designer from Indonesia</p>
      <p>I help brands turn their ideas into high quality products</p>
    </div>
    <div class="col-12 col-md-6 foto">
      <img src="../../../assets/foto.png" alt="" style="width: 270px" />
    </div>
  </div>
  <!-- <small>NICE TO MEET YOU</small>
  <h1>Hey, I'm a <br /><span>Fullstack Developer</span></h1>
  <p>Hi, I'm Diki a freelance web designer from Indonesia</p>
  <p>I help brands turn their ideas into high quality products</p> -->
</div>

<div class="container expertise">
  <h3>Epertise</h3>
  <div class="row">
    <div class="col-12 col-md-6">Strategy</div>
    <div class="col-12 col-md-6">Branding</div>
    <div class="col-12 col-md-6">Development</div>
    <div class="col-12 col-md-6">Animation</div>
  </div>
</div>
