@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

nav {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  box-shadow: 0 2px 2px 0 rgba(187, 187, 187, 0.1),
    0 3px 5px 0 rgba(204, 204, 204, 0.1);
  background-color: transparent !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top {
  background-color: transparent !important;
}

nav div.container-fluid {
  max-width: 1300px;
  margin: 0 auto;
}

nav div.container-fluid div.collapse.navbar-collapse {
  background-color: violet;
  margin-left: 0 auto !important;
}

nav div.container-fluid button.navbar-toggler {
  /* background-color: yellow; */
  border: none;
}
