<body>
  <section>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="../../../assets/ecommerce.png" alt="img" />
          </div>
          <div class="contentBx">
            <h3>E-commerce <br /><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i: 1">
            <a href="#">
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li style="--i: 2">
            <a href="#">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li style="--i: 3">
            <a href="#">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="../../../assets/pos-1.png" alt="img" />
          </div>
          <div class="contentBx">
            <h3>Point of Sales <br /><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i: 1">
            <a href="#">
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li style="--i: 1">
            <a href="#">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li style="--i: 1">
            <a href="#">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="../../../assets/NEXT.png" alt="img" />
          </div>
          <div class="contentBx">
            <h3>New Project <br /><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i: 1">
            <a href="#">
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li style="--i: 1">
            <a href="#">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li style="--i: 1">
            <a href="#">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</body>
