<body>
  <section>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="../../../assets/ecommerce.png" alt="img" />
          </div>
          <div class="contentBx">
            <h3>E-commerce <br /><span>Created by: dikiamust</span></h3>
          </div>
        </div>
        <div class="sci">
          <a href="https://gadget-store-fe.herokuapp.com/" class="btn btn-dark"
            >View
          </a>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="../../../assets/pos-1.png" alt="img" />
          </div>
          <div class="contentBx">
            <h3>Point of sales <br /><span>Created by: dikiamust</span></h3>
          </div>
        </div>
        <div class="sci">
          <a href="#" class="btn btn-dark">View </a>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="../../../assets/NEXT.png" alt="img" />
          </div>
          <div class="contentBx">
            <h3>New Project <br /><span>Created by: dikiamust</span></h3>
          </div>
        </div>
        <div class="sci">
          <a href="#" class="btn btn-dark">View </a>
        </div>
      </div>
    </div>
  </section>
</body>
